m-atici.fr, www.m-atici.fr {
    # Activer les journaux d'accès pour surveiller les adresses IP et requêtes
    log {
        output stdout
        format console
    }

    # Rediriger toutes les requêtes /api vers le backend
    handle /api/* {
        reverse_proxy backend:3000
    }
    
    # Tout le reste va vers le frontend
    handle {
        reverse_proxy frontend:5173
    }
}
